<div class="tag">
    <slot />
</div>

<style>
    .tag {
        border: 1px solid var(--text-light);
        padding: 0 .5em;
        border-radius: .25rem;
        /* font-size: .75rem; */
    }
</style>