---
import Layout from "./Layout.astro"
import '../styles/blog.css'
import Comments from '../components/Comments.svelte'
const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title} description={frontmatter.description} type="article">
    <main>
        <h1>{frontmatter.title}</h1>
        <p class="date">{frontmatter.date}</p>
        <slot />
        <script src="https://utteranc.es/client.js"
                    repo="btylerh7/broken-coder-comments"
                    issue-term="pathname"
                    theme="github-dark"
                    crossorigin="anonymous"
                    async>
            </script>
        <article>
            
        </article>
    </main>

</Layout>


