---
import Header from '../components/Header.svelte'
import '../styles/theme.css'
export interface Props {
	title: string;
}
import { inject } from '@vercel/analytics';

inject();
const { title, description, type } = Astro.props as Props


---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- TODO add meta tags for description and add SEO plugin?? -->
		<meta property="og:type" content={type} />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- Google tag (gtag.js) -->
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-E7W3Q39675"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-E7W3Q39675');
		</script>

	</head>
	<body style="text-xl">
		<div class="page-container">
			<Header client:load />
			<div class="content-container">
				<slot />
			</div>
		</div>
	</body>
</html>

